/.vs
/x64
/guideXOSServer
/docs
/edk2-master
/guideXOSBootLoader/guideXOS.1fedf2ad
/guideXOSBootLoader/x64
/ESP/EFI/BOOT/BOOTX64.EFI
/ESP/NvVars
/ESP/kernel.elf
/build/amd64/bin/kernel.elf
/build/amd64/bin/kernel.exe
/build/amd64/bin/kernel.pe
/build/amd64/obj
/GuideXOS.FileExplorer.Tests/obj
/GuideXOS.FileExplorer.Tests/bin
/GuideXOS.FileSystem/bin/Release
/GuideXOS.FileSystem/bin/Debug
